@model WebApplication3.Models.LoginTable
@{
    ViewBag.Title = "Login";
}

<h2>Login Page</h2>

<div id="login-div">
    @using (Html.BeginForm("Authorise", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.UserName)</td>
                <td>@Html.EditorFor(model => model.UserName)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.UserName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Password)</td>
                <td>@Html.EditorFor(model => model.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                    <input type="reset" value="Clear" />
                </td>
            </tr>
        </table>
    }
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>

